/* 1em = 16px */
.mt-neg-lg {
  margin-top: -10rem !important; }

.mt-neg-md {
  margin-top: -4rem !important; }

.mt-neg-sm {
  margin-top: -1.5rem !important; }

.mt-lg {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 50em) {
    .mt-lg {
      margin-top: 6rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .mt-lg {
      margin-top: 4rem !important; } }

.mt-md {
  margin-top: 4rem !important; }

.mt-sm {
  margin-top: 1.5rem !important; }

.mb-lg {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 50em) {
    .mb-lg {
      margin-bottom: 6rem !important; } }

.mb-md {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 50em) {
    .mb-md {
      margin-bottom: 2rem !important; } }

.mb-sm {
  margin-bottom: 1.5rem !important; }

.ml-lg {
  margin-left: 8rem !important; }
  @media only screen and (max-width: 50em) {
    .ml-lg {
      margin-left: 6rem !important; } }
  @media only screen and (max-width: 31.25em) {
    .ml-lg {
      margin-left: 4rem !important; } }

.ml-md {
  margin-left: 4rem !important; }
  @media only screen and (max-width: 50em) {
    .ml-md {
      margin-left: 2rem !important; } }

.ml-sm {
  margin-left: 1.5rem !important; }

.pb-lg {
  padding-bottom: 8rem !important; }
  @media only screen and (max-width: 50em) {
    .pb-lg {
      padding-bottom: 6rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .pb-lg {
      padding-bottom: 4rem !important; } }

.pb-md {
  padding-bottom: 4rem !important; }

.pb-sm {
  padding-bottom: 1.5rem !important; }

.center-inline {
  text-align: center !important; }

.rotate-45 {
  transform: rotate(45deg) !important; }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

*::-moz-focus-inner {
  border: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 93.75em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 43.75%; } }

::selection {
  background-color: #552583;
  color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #212121; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.2; }

.heading-1 {
  font-size: 4rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fefdfe; }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 2.75rem; } }

.heading-2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-2 {
      font-size: 2rem; } }
  .heading-2::after {
    content: '';
    display: block;
    height: 2px;
    width: 5rem;
    margin: 3rem auto 4rem; }
  .heading-2--purple::after {
    background-image: linear-gradient(to right bottom, rgba(170, 121, 217, 0.7), rgba(68, 30, 105, 0.7)); }
  .heading-2--gold::after {
    background-image: linear-gradient(to right bottom, rgba(254, 207, 106, 0.7), rgba(253, 185, 39, 0.7)); }

.heading-3 {
  font-size: 1.8rem; }

.heading-4 {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 400; }

.banner {
  grid-column: full-start / full-end;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 40vw;
  clip-path: polygon(0 15vh, 100% 0, 100% 75%, 0 100%); }
  .banner:hover .share {
    opacity: 1; }
  @media only screen and (max-width: 75em) {
    .banner {
      clip-path: polygon(0 15vh, 100% 0, 100% 70%, 0 100%); } }
  @media only screen and (max-width: 62.5em) {
    .banner {
      clip-path: polygon(0 10vh, 100% 0, 100% 75%, 0 100%); } }
  @media only screen and (max-width: 50em) {
    .banner {
      clip-path: polygon(0 10vh, 100% 0, 100% 70%, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .banner {
      clip-path: polygon(0 5vh, 100% 0, 100% 75%, 0 100%); } }
  .banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    text-align: center;
    color: rgba(254, 253, 254, 0.9);
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
    opacity: 0;
    transition: all 0.5s ease-out; }
    @media only screen and (max-width: 75em) {
      .banner__title {
        width: 70%;
        font-size: 3.5rem; } }
    @media only screen and (max-width: 50em) {
      .banner__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .banner__title {
        font-size: 2.5rem;
        margin: 2rem; } }
    @media only screen and (max-width: 25em) {
      .banner__title {
        font-size: 2rem; } }
  .banner__link:link, .banner__link:visited, .banner__link:hover, .banner__link:active {
    display: block;
    width: 100%;
    height: 100%; }
  .banner__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(80%);
    transition: all 0.5s ease-out; }
  .banner:hover .banner__img {
    filter: brightness(60%); }
  .banner:hover .banner__title {
    opacity: 1; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px; }
  .btn span {
    margin-right: 1rem;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-out; }
  .btn__icon {
    fill: currentColor;
    width: 2rem;
    height: 2rem; }
  .btn::-moz-focus-inner {
    border: 0; }
  .btn:hover span, .btn:focus span {
    margin-right: 2rem;
    color: #fefdfe;
    background-color: #552583;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); }
  .btn:active span {
    transform: translateY(3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .btn:hover .btn__icon,
  .btn:focus .btn__icon {
    fill: #552583; }
  .btn--gold {
    padding: 1.5rem 4rem;
    border: 2px solid #fdb927;
    border-radius: 3px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fdb927;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.4s ease-out;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .btn--gold::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 120%;
      background-color: #fdb927;
      transform-origin: center;
      transform: scaleY(0);
      transition: all 0.4s ease-out; }
    .btn--gold:hover, .btn--gold:focus {
      color: #fefdfe; }
      .btn--gold:hover::before, .btn--gold:focus::before {
        transform: scaleY(1); }

.card__date, .card__link, .card__text {
  display: inline-block;
  padding: 0 2.5rem; }

.card {
  display: grid;
  grid-template-rows: minmax(25rem, 10vw) repeat(3, minmax(min-content, max-content));
  grid-row-gap: 1.85rem;
  position: relative;
  padding-bottom: 3rem;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  border-bottom: 4px solid #fdb927;
  background-color: #fff;
  transition: all 0.2s ease-out; }
  .card:hover .share {
    opacity: 1; }
  .card > * {
    grid-column: 1 / -1; }
  .card:hover {
    transform: translateY(-0.6rem) scale(1.01);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4); }
  .card__icon {
    grid-row: 1 / 2;
    justify-self: end;
    width: 2rem;
    height: 2rem;
    fill: rgba(255, 255, 255, 0.65);
    z-index: 20;
    margin: 1.25rem; }
  .card__img-link {
    grid-row: 1 / 2;
    z-index: 10; }
  .card__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(90%);
    transition: filter 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .card:hover .card__img {
    filter: brightness(70%); }
  .card__date {
    grid-row: 1 / 2;
    justify-self: end;
    align-self: end;
    font-size: 1.1rem;
    z-index: 20; }
  .card__link:link, .card__link:visited {
    text-decoration: none;
    color: currentColor;
    transition: color 0.2s ease-out; }
  .card__link:hover, .card__link:active {
    color: #552583;
    text-decoration: underline; }

.feature {
  font-size: 1.5rem;
  text-align: center;
  display: grid;
  grid-template-rows: min-content 15rem repeat(2, min-content);
  justify-items: center;
  grid-row-gap: 1.5rem; }
  @media only screen and (max-width: 50em) {
    .feature {
      grid-template-rows: min-content 8rem repeat(2, min-content); } }
  .feature__icon {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 50em) {
      .feature__icon {
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem; } }
  .feature__text {
    margin-top: -3rem; }
    @media only screen and (max-width: 50em) {
      .feature__text {
        margin-top: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .feature__text {
        margin-top: 0; } }

.list {
  list-style: none;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #fdb927;
  background-color: #fefdfe; }
  .list__item {
    display: flex;
    align-items: center; }
    .list__item:not(:last-child) {
      margin-bottom: 2.5rem; }
    .list__item::before {
      content: '';
      display: inline-block;
      height: 1.75rem;
      width: 1.75rem;
      line-height: 1;
      margin-right: 1rem;
      margin-top: -9px;
      background-color: currentColor;
      -webkit-mask-size: cover;
      mask-size: cover; }
    .list__item--story::before {
      -webkit-mask-image: url(../img/icons/open-book.svg);
      mask-image: url(../img/icons/open-book.svg);
      align-self: flex-start;
      margin-top: 0.5rem; }
    .list__item--youtube::before {
      -webkit-mask-image: url(../img/icons/youtube.svg);
      mask-image: url(../img/icons/youtube.svg); }
  .list__link:link, .list__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    font-size: inherit;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: all 0.3s ease-out; }
  .list__link:hover, .list__link:active, .list__link:focus {
    color: #552583;
    border-bottom: 2px solid currentColor; }

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .search__input {
    flex: 0 0 90%;
    margin-right: -3rem;
    font-family: inherit;
    font-size: 1.4rem;
    color: #212121;
    border: none;
    border-radius: 3px;
    background-color: #fefdfe;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out; }
    .search__input:focus {
      flex: 0 0 100%; }
    .search__input-webkit-placeholder-input {
      color: #fefdfe; }
  .search__label {
    line-height: 1;
    cursor: pointer; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #aa79d9;
    transition: fill 0.3s ease-out; }
    .search__icon:hover {
      fill: #552583; }

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  padding: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-out 0.3s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }
  @media only screen and (max-width: 31.25em) {
    .share {
      flex-direction: row;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 31.25em) {
    .share__link:not(:last-of-type) {
      margin-right: 2rem; } }
  .share__link:link, .share__link:visited {
    text-decoration: none; }
  .share__icon {
    fill: rgba(255, 255, 255, 0.65);
    transition: fill 0.3s ease-out; }
    .share__icon--lg {
      width: 3rem;
      height: 3rem;
      margin-bottom: 2rem; }
    .share__icon--md {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 1.5rem; }
    .share__icon--sm {
      width: 2rem;
      height: 2rem;
      margin-bottom: 1rem; }
    @media only screen and (min-width: 93.75em) {
      .share__icon--lg {
        width: 4rem;
        height: 4rem;
        margin-bottom: 3rem; }
      .share__icon--md {
        width: 3rem;
        height: 3rem;
        margin-bottom: 2rem; }
      .share__icon--sm {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 1.5rem; } }
  .share__link:hover .share__icon--1 {
    fill: #3b5998; }
  .share__link:hover .share__icon--2 {
    fill: #db4437; }
  .share__link:hover .share__icon--3 {
    fill: #1da1f2; }

.showcase {
  grid-column: full-start / full-end;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 20vw); }
  @media only screen and (max-width: 62.5em) {
    .showcase {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 25vw); } }
  @media only screen and (max-width: 37.5em) {
    .showcase {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 20vw); } }
  .showcase__item {
    position: relative;
    overflow: hidden;
    background-color: #000; }
    .showcase__item:hover .share {
      opacity: 1; }
  .showcase__link {
    display: grid;
    grid-template-rows: 1fr minmax(20%, min-content);
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%; }
    .showcase__link > * {
      grid-column: 1 / -1; }
    .showcase__link:link, .showcase__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #fefdfe;
      font-size: inherit;
      letter-spacing: 0.5px; }
  .showcase__img {
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.6;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    z-index: 10; }
  .showcase__item:hover .showcase__img,
  .showcase__item:active .showcase__img {
    opacity: 0.7;
    transform: scale(1); }
  .showcase__title {
    grid-row: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem 2rem; }
  .showcase__icon {
    grid-row: 1 / 2;
    justify-self: end;
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    fill: rgba(255, 255, 255, 0.65);
    z-index: 20; }
  .showcase__btn {
    grid-column: 1 / -1;
    justify-self: center; }

.story {
  width: 90%;
  font-size: 1.3rem; }
  .story__title {
    margin-bottom: 0.5rem; }
  .story__heading {
    font-weight: 400; }
  .story__description {
    overflow: hidden;
    position: relative;
    line-height: 1.6em;
    max-height: 4.8em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em; }
    .story__description::before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0; }
    .story__description::after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 120vh repeat(6, min-content) minmax(min-content, 18vw); }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 25em) {
    .container {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 100vh repeat(6, min-content) minmax(min-content, 18vw); } }

.footer {
  grid-column: full-start / full-end;
  padding: 8rem 0 4rem;
  background-color: #212121;
  color: #fefdfe;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content 1fr;
  grid-row-gap: 2.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 25em) {
    .footer {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 31.25em) {
    .footer {
      grid-row-gap: 3.5rem; } }
  @media only screen and (max-width: 25em) {
    .footer {
      grid-column-gap: 2rem; } }
  .footer__nav {
    grid-column: center-start / col-end 4;
    grid-row: 1 / 2;
    justify-self: start;
    display: grid;
    grid-column: repeat(2, max-content);
    grid-column-gap: 8rem;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .footer__nav {
        grid-column: center-start / center-end; } }
  .footer__heading {
    grid-row: 1 / 2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fecf6a; }
  .footer__list {
    grid-row: 2 / 3;
    list-style: none; }
  .footer__item:not(:last-child) {
    margin-bottom: 1rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: currentColor;
    font-size: 1.3rem;
    letter-spacing: 1px;
    transition: color 0.3s ease-out; }
  .footer__link:hover, .footer__link:active {
    color: #fdb927; }
  .footer__social {
    grid-column: col-start 6 / center-end;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    grid-gap: 1rem;
    align-content: start;
    justify-items: end; }
    @media only screen and (max-width: 50em) {
      .footer__social {
        grid-column: col-start 5 / center-end; } }
    @media only screen and (max-width: 31.25em) {
      .footer__social {
        grid-column: center-start / center-end;
        grid-row: 2 / 3;
        display: flex;
        justify-content: space-around; } }
    .footer__social-link {
      line-height: 1;
      display: block; }
    .footer__social-icon {
      width: 3rem;
      height: 3rem;
      fill: rgba(255, 255, 255, 0.6);
      transition: fill 0.3s ease-out; }
      .footer__social-icon--1:hover {
        fill: #3b5998; }
      .footer__social-icon--2:hover {
        fill: #db4437; }
      .footer__social-icon--3:hover {
        fill: #c32aa3; }
      .footer__social-icon--4:hover {
        fill: #fffc00; }
      .footer__social-icon--5:hover {
        fill: #1da1f2; }
      .footer__social-icon--6:hover {
        fill: #ff0000; }
  .footer__copyright {
    grid-column: center-start / center-end;
    align-self: end;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    color: #bdbdbd; }
    @media only screen and (min-width: 93.75em) {
      .footer__copyright {
        width: 70%; } }

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content minmax(min-content, 10vw);
  align-content: start;
  align-items: center;
  grid-row-gap: 4rem;
  background-image: linear-gradient(to right bottom, rgba(170, 121, 217, 0.7), rgba(68, 30, 105, 0.7)), linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 105vh, 0 100%);
  overflow-x: hidden;
  font-size: 1.4rem;
  padding-top: 12rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 25em) {
    .header {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 62.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%); } }
  @media only screen and (max-width: 25em) {
    .header {
      align-content: center; } }
  .header__heading {
    grid-column: center-start / center-end;
    align-self: end; }
    @media only screen and (max-width: 31.25em) {
      .header__heading {
        display: none; } }
    @media only screen and (max-height: 31.25em) {
      .header__heading {
        display: none; } }
    .header__heading > * {
      display: block; }
    .header__heading--main {
      animation: slideInRight 2s ease-out 1s backwards; }
    .header__heading--sub {
      animation: slideInLeft 2s ease-out 1s backwards; }

.box-score__game--previous, .box-score__game--next {
  align-self: stretch;
  background-color: rgba(254, 253, 254, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  z-index: 10; }

@media only screen and (max-width: 25em) {
  .box-score__arrow, .box-score__game {
    display: none !important; } }

.box-score {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4rem;
  align-items: center;
  color: #fefdfe;
  font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .box-score {
      grid-template-columns: none;
      justify-items: center; } }
  .box-score__box {
    grid-column: 1 / -1;
    align-self: start;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) repeat(3, minmax(min-content, 1fr)) minmax(min-content, 1fr);
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .box-score__box {
        grid-column: 1 / -1;
        grid-template-columns: none;
        grid-row-gap: 2rem; }
        .box-score__box > * {
          grid-column: 1 / 2 !important; } }
  .box-score__arrow {
    grid-row: 1 / 2;
    width: 3rem;
    height: 3rem;
    fill: rgba(254, 253, 254, 0.65);
    cursor: pointer;
    transition: all 0.3s ease-out;
    z-index: 20; }
    .box-score__arrow:hover {
      transform: scale(1.3);
      fill: #fefdfe; }
    .box-score__arrow--left {
      grid-column: 1 / 2;
      justify-self: start; }
      @media only screen and (max-width: 37.5em) {
        .box-score__arrow--left {
          grid-row: 1 / 2;
          transform: translateX(-250%); } }
    .box-score__arrow--right {
      grid-column: 5 / 6;
      justify-self: end; }
      @media only screen and (max-width: 37.5em) {
        .box-score__arrow--right {
          grid-row: 1 / 2;
          transform: translateX(250%); } }
  .box-score__game {
    grid-row: 1 / 2;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #212121;
    border-radius: 3px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    align-items: center; }
    .box-score__game:hover, .box-score__game:focus {
      background-color: #fefdfe; }
    .box-score__game--previous {
      grid-column: 1 / span 2;
      justify-self: end; }
      @media only screen and (max-width: 37.5em) {
        .box-score__game--previous {
          grid-row: 2 / 3;
          transform: translateX(-50%); } }
    .box-score__game--current {
      grid-column: 2 / span 3;
      justify-self: center;
      background-color: #fefdfe;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      z-index: 20;
      transform: scale(1.2); }
      @media only screen and (min-width: 93.75em) {
        .box-score__game--current {
          transform: scale(1.4); } }
      @media only screen and (max-width: 37.5em) {
        .box-score__game--current {
          grid-row: 2 / 3; } }
    .box-score__game--next {
      grid-column: 4 / span 2;
      justify-self: start; }
      @media only screen and (max-width: 37.5em) {
        .box-score__game--next {
          grid-row: 2 / 3;
          transform: translateX(50%); } }
    .box-score__game-date {
      grid-column: 1 / -1;
      justify-self: start; }
    .box-score__game-score {
      font-size: 3rem; }
      @media only screen and (max-width: 50em) {
        .box-score__game-score {
          font-size: 2rem; } }
    .box-score__game-quarter {
      grid-column: 2 / 3;
      justify-self: end;
      position: relative; }
      .box-score__game-quarter::after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(to right bottom, rgba(170, 121, 217, 0.7), rgba(68, 30, 105, 0.7));
        position: absolute;
        top: 0;
        right: -2.6rem; }
    .box-score__game-time {
      grid-column: 4 / 5;
      justify-self: start; }
    .box-score__game-win {
      color: #05c46b;
      font-weight: 400; }
    .box-score__game-loss {
      color: #e74c3c;
      font-weight: 400; }
  .box-score__logo {
    width: 3.5rem;
    height: 3.5rem;
    fill: rgba(33, 33, 33, 0.8); }
    @media only screen and (max-width: 50em) {
      .box-score__logo {
        width: 2.5rem;
        height: 2.5rem; } }
  .box-score__team {
    grid-row: 3 / 4;
    justify-self: center; }
    .box-score__team--1 {
      grid-column: 1 / 2; }
    .box-score__team--2 {
      grid-column: 5 / 6; }
  .box-score__schedule {
    grid-column: 4 / -1;
    grid-row: 1 / 2;
    justify-self: center; }
    @media only screen and (max-width: 50em) {
      .box-score__schedule {
        grid-column: 5 / -1;
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .box-score__schedule {
        grid-row: 2 / 3;
        transform: translateX(200%);
        width: 50%; } }
    @media only screen and (max-width: 25em) {
      .box-score__schedule {
        width: 100%;
        transform: none; } }
    .box-score__schedule:link, .box-score__schedule:visited {
      text-decoration: none;
      color: #fefdfe;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      transition: color 0.3s ease-out; }
      @media only screen and (max-width: 50em) {
        .box-score__schedule:link, .box-score__schedule:visited {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 25em) {
        .box-score__schedule:link, .box-score__schedule:visited {
          font-size: 1.8rem; } }
    .box-score__schedule:hover, .box-score__schedule:active, .box-score__schedule:focus {
      color: #fdb927; }
  .box-score__nav {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-row-gap: 1rem;
    grid-column-gap: 3rem;
    align-items: center;
    justify-items: center; }
    .box-score__nav-link {
      grid-row: 1 / 2;
      line-height: 1; }
      .box-score__nav-link:link, .box-score__nav-link:visited {
        text-decoration: none;
        transition: transform 0.3s ease-out; }
      .box-score__nav-link:focus {
        transform: scale(1.2); }
  .box-score__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: rgba(254, 253, 254, 0.8);
    transition: all 0.3s ease-out; }
    @media only screen and (min-width: 93.75em) {
      .box-score__icon {
        width: 3rem;
        height: 3rem; } }
    .box-score__icon:hover, .box-score__icon:focus {
      transform: scale(1.2);
      fill: #fdb927; }
  .box-score__tooltip {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease-out; }
  .box-score__nav-link:hover + .box-score__tooltip,
  .box-score__nav-link:focus + .box-score__tooltip {
    opacity: 1; }
  .box-score__tv {
    grid-column: 2 / -1;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-row-gap: 2rem;
    align-content: start;
    justify-items: end; }
    @media only screen and (max-width: 37.5em) {
      .box-score__tv {
        justify-self: inherit;
        grid-row-gap: 1rem;
        justify-items: center; } }
  .box-score__channel {
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.5px; }
    @media only screen and (max-width: 37.5em) {
      .box-score__channel {
        grid-column: 1 / -1; } }
  .box-score__icon--tv {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem; }
    .box-score__icon--tv:hover {
      fill: currentColor; }
  .box-score__btn {
    grid-column: 1 / -1; }

.nav {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  align-self: start;
  z-index: 9999;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefdfe;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media only screen and (max-width: 75em) {
    .nav {
      position: relative; } }
  @media only screen and (max-height: 31.25em) {
    .nav {
      font-size: 1.4rem; } }
  .nav__logo {
    flex: 0 0 5rem;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
    fill: currentColor; }
  .nav__list {
    flex: 0 0 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .nav__list {
        position: absolute;
        top: 100%;
        right: 22%;
        display: flex;
        flex-direction: column;
        min-width: 40rem;
        border-radius: 3px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(254, 253, 254, 0.9);
        color: #212121;
        opacity: 0;
        transform-origin: top;
        transform: scaleY(0); }
        .nav__list--active {
          opacity: 1;
          transform: scaleY(1); }
        .nav__list--activated {
          transition: transform 0.25s ease-out, opacity 0.3s; } }
    @media only screen and (max-width: 31.25em) {
      .nav__list {
        width: 100%;
        right: 0; } }
  @media only screen and (max-width: 75em) {
    .nav__item {
      text-align: center;
      width: 85%;
      padding: 2rem 0; }
      .nav__item:not(:last-child) {
        border-bottom: 1px solid rgba(33, 33, 33, 0.1); } }
  @media only screen and (max-height: 31.25em) {
    .nav__item {
      padding: 1rem 0; } }
  .nav__link:link, .nav__link:visited {
    color: currentColor;
    font-family: "Lato", sans-serif;
    font-size: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    transition: border-bottom 0.2s ease-out; }
    @media only screen and (max-width: 75em) {
      .nav__link:link, .nav__link:visited {
        transition: color 0.3s ease-out;
        font-weight: 400; } }
  .nav__link:hover, .nav__link:active, .nav__link:focus {
    border-bottom: 2px solid currentColor; }
    @media only screen and (max-width: 75em) {
      .nav__link:hover, .nav__link:active, .nav__link:focus {
        border-bottom: 0;
        color: #fdb927; } }
  .nav__mobile-checkbox {
    display: none; }
  .nav__mobile-label {
    display: none;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-out;
    margin-right: 2rem; }
    @media only screen and (max-width: 75em) {
      .nav__mobile-label {
        display: inline-block; } }
    .nav__mobile-label::after {
      content: '';
      display: inline-block;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.5rem solid currentColor;
      transition: border 0.3s ease-out;
      position: absolute;
      top: 50%;
      right: -2rem;
      transform: translateY(-50%); }
    .nav__mobile-label:hover {
      color: #fdb927; }
  .nav__mobile-checkbox:checked + .nav__mobile-label {
    color: #fdb927; }
    .nav__mobile-checkbox:checked + .nav__mobile-label::after {
      border-top: 0;
      border-bottom: 0.5rem solid currentColor; }
  .nav__search {
    flex: 0 0 22%;
    margin-left: 2rem; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 10rem) minmax(max-content, 75rem) minmax(min-content, 25rem) minmax(6rem, 1fr);
  grid-column-gap: 2rem;
  width: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(to right bottom, rgba(170, 121, 217, 0.7), rgba(68, 30, 105, 0.7));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 25em) {
    .sticky {
      grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 10rem) minmax(max-content, 75rem) minmax(min-content, 25rem) minmax(2rem, 1fr); } }
  .sticky .nav__logo {
    grid-column: 2 / 3;
    margin-right: 0; }
  .sticky .nav__list {
    grid-column: 3 / 4; }
    @media only screen and (max-width: 75em) {
      .sticky .nav__list {
        grid-column: 1 / -1;
        width: 100vw;
        right: 0;
        border-radius: 0;
        background-image: linear-gradient(to right bottom, rgba(170, 121, 217, 0.7), rgba(68, 30, 105, 0.7));
        color: #fefdfe; } }
  @media only screen and (max-width: 75em) {
    .sticky .nav__item {
      border-bottom: 1px solid rgba(254, 253, 254, 0.1); } }
  .sticky .nav__search {
    grid-column: 4 / 5;
    margin-left: 0; }
  .sticky .nav__mobile-label {
    justify-self: end; }

.headlines {
  grid-column: col-start 2 / col-end 7;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .headlines {
      grid-column: center-start / center-end; } }
  @media only screen and (max-width: 50em) {
    .headlines {
      padding-bottom: 6rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .headlines {
      padding: 4rem 0; } }
  .headlines__lists {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3.5rem;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .headlines__lists {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .headlines__list {
      margin-bottom: 2.5rem; } }
  .headlines__writer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .headlines__writer {
        flex-direction: row; } }
    .headlines__writer-details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media only screen and (max-width: 37.5em) {
        .headlines__writer-details {
          margin-left: 1.5rem; } }
    .headlines__writer-name {
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 400;
      margin-bottom: -2px; }
    .headlines__writer-title {
      font-size: 1.2rem;
      text-transform: capitalize; }
    .headlines__writer-img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      margin-bottom: 1rem; }

.multimedia {
  grid-column: center-start / center-end;
  padding: 8rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(25vw, 1fr));
  grid-column-gap: 6rem;
  align-items: center; }
  @media only screen and (min-width: 93.75em) {
    .multimedia {
      padding: 10rem 0; } }
  @media only screen and (max-width: 50em) {
    .multimedia {
      padding: 6rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .multimedia {
      padding: 4rem 0; } }
  @media only screen and (max-width: 50em) {
    .multimedia {
      grid-template-columns: none;
      grid-row-gap: 2rem; } }
  .multimedia__video {
    width: 100%; }
    @media only screen and (max-width: 50em) {
      .multimedia__video {
        order: 1; } }
  .multimedia__content {
    font-size: 1.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    grid-column-gap: 3rem; }
  .multimedia__heading {
    grid-column: 1 / -1; }
  .multimedia__text {
    grid-column: 1 / -1;
    margin-bottom: 3rem; }
  .multimedia__link:link, .multimedia__link:visited {
    text-decoration: none; }
  .multimedia__link--1 {
    grid-column: 1 / 2; }
  .multimedia__link--2 {
    grid-column: 2 / 3; }
  .multimedia__icon {
    width: 4rem;
    height: 4rem;
    fill: #fecf6a;
    transition: fill 0.3s ease-out; }
    .multimedia__icon:hover {
      fill: #fdb927; }
  .multimedia__btn {
    grid-column: 3 / -1;
    justify-self: center; }

.content-cards {
  grid-column: full-start / full-end;
  background-color: #f7f7f7;
  padding: 8rem 0;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 28.5rem) [col-end]) minmax(6rem, 1fr);
  grid-row-gap: 6rem; }
  @media only screen and (min-width: 93.75em) {
    .content-cards {
      padding: 10rem 0; } }
  @media only screen and (max-width: 50em) {
    .content-cards {
      padding: 6rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .content-cards {
      padding: 4rem 0; } }
  @media only screen and (max-width: 25em) {
    .content-cards {
      grid-template-columns: minmax(2rem, 1fr) repeat(4, [col-start] minmax(min-content, 28.5rem) [col-end]) minmax(2rem, 1fr); } }
  .content-cards > * {
    grid-column: col-start 1 / col-end 4; }
  .content-cards__header {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .content-cards__link:link, .content-cards__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    padding: 1.5rem 2rem;
    border-bottom: 3px solid transparent;
    padding-bottom: 2rem;
    transition: border-bottom 0.3s ease-out; }
  .content-cards__link:hover, .content-cards__link:active, .content-cards__link--active:link, .content-cards__link--active:visited {
    color: #552583;
    border-bottom: 3px solid currentColor; }
  .content-cards__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 5rem; }
    @media only screen and (max-width: 25em) {
      .content-cards__cards {
        grid-template-columns: none;
        grid-gap: 3rem; } }
  .content-cards__btn {
    justify-self: center; }

.fans {
  grid-column: center-start / center-end;
  padding: 8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  justify-items: center; }
  @media only screen and (min-width: 93.75em) {
    .fans {
      padding: 10rem 0; } }
  @media only screen and (max-width: 50em) {
    .fans {
      padding: 6rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .fans {
      padding: 4rem 0; } }
  @media only screen and (max-width: 75em) {
    .fans {
      grid-gap: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .fans {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); } }
  @media only screen and (max-width: 25em) {
    .fans {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
