// NEGATIVE MARGIN

.mt-neg-lg {
  margin-top: -10rem;
}
.mt-neg-md {
  margin-top: -4rem;
}
.mt-neg-sm {
  margin-top: -1.5rem;
}

// MARGIN

.mt-lg {
  margin-top: 8rem;
}
.mt-md {
  margin-top: 4rem;
}
.mt-sm {
  margin-top: 1.5rem;
}

.mb-lg {
  margin-bottom: 8rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-sm {
  margin-bottom: 1.5rem;
}

.ml-lg {
  margin-left: 8rem;
}
.ml-md {
  margin-left: 4rem;
}
.ml-sm {
  margin-left: 1.5rem;
}

// PADDING

.pb-lg {
  padding-bottom: 8rem;
}
.pb-md {
  padding-bottom: 4rem;
}
.pb-sm {
  padding-bottom: 1.5rem;
}

// ALIGNMENT

.center-inline {
  text-align: center;
}
