// NEGATIVE MARGIN

.mt-neg-lg {
  margin-top: -8rem;
}
.mt-neg-md {
  margin-top: -4rem;
}
.mt-neg-sm {
  margin-top: -2rem;
}

// MARGIN

.mt-lg {
  margin-top: 8rem;
}
.mt-md {
  margin-top: 4rem;
}
.mt-sm {
  margin-top: 2rem;
}

.mb-lg {
  margin-bottom: 8rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-sm {
  margin-bottom: 2rem;
}

// ALIGNMENT

.center-inline {
  text-align: center;
}
