// COLORS

$color-primary: #552583;
$color-primary-light: #aa79d9;
$color-primary-dark: #441e69;

$color-secondary: #fdb927;
$color-secondary-light: #fecf6a;

$color-red: #e74c3c;
$color-green: #05c46b;

$color-grey-light-1: #fefdfe;
$color-grey-light-2: #bdbdbd;
$color-grey-light-3: #d1c4e9;

$color-grey-dark-1: #757575;
$color-grey-dark-2: #212121;

$color-facebook: #3b5998;
$color-instagram: #c32aa3;
$color-twitter: #1da1f2;
$color-googleplus: #db4437;
$color-snapchat: #fffc00;
$color-youtube: #ff0000;

// FONTS

$font-primary: 'Open Sans', sans-serif;
$font-display: 'Lato', sans-serif;

// PADDING

$padding-lg: 6rem;
$padding-md: 4rem;
$padding-sm: 2rem;
