.nav {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  align-self: start;
  z-index: 9999;
  padding-top: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color-grey-light-1;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include respond(big-desk) {
    position: relative;
  }

  @include respond(display-short) {
    font-size: 1.4rem;
  }

  &__logo {
    flex: 0 0 5rem;
    margin-right: auto;

    &:link,
    &:visited {
      color: currentColor;
    }

    &-img {
      width: 5rem;
      height: 5rem;
      fill: currentColor;
    }
  }

  &__list {
    flex: 0 0 60%;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // mobile nav

    @include respond(big-desk) {
      position: absolute;
      top: 100%;
      right: 22%; // search bar flex-basis

      display: flex;
      flex-direction: column;

      min-width: 40rem;
      border-radius: 3px;
      box-shadow: 0 6px 6px rgba($color-black, 0.3);
      background-color: rgba($color-grey-light-1, 0.9);
      color: $color-grey-dark-2;

      opacity: 0;
      transform-origin: top;
      transform: scaleY(0);

      &--activated {
        transition: transform 0.25s ease-out, opacity 0.3s;
      }
    }

    @include respond(phone) {
      width: 100%;
      right: 0;
    }
  }

  &__mobile-checkbox:checked ~ &__list {
    opacity: 1;
    transform: scaleY(1);
  }

  &__item {
    @include respond(big-desk) {
      text-align: center;
      width: 85%;
      padding: 2rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($color-grey-dark-2, 0.1);
      }
    }

    @include respond(display-short) {
      padding: 1rem 0;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: currentColor;
      font-family: $font-display;
      font-size: inherit;
      text-decoration: none;

      border-bottom: 2px solid transparent;
      padding-bottom: 1rem;
      transition: border-bottom 0.2s ease-out;

      @include respond(big-desk) {
        transition: color 0.3s ease-out;
        font-weight: 400;
      }
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 2px solid currentColor;

      @include respond(big-desk) {
        border-bottom: 0;
        color: $color-secondary;
      }
    }
  }

  &__mobile {
    &-checkbox {
      display: none;
    }

    &-label {
      display: none;
      position: relative;
      cursor: pointer;
      transition: color 0.3s ease-out;
      margin-right: 2rem;

      @include respond(big-desk) {
        display: inline-block;
      }

      // triangle
      &::after {
        content: '';
        display: inline-block;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid currentColor;
        transition: border 0.3s ease-out;

        position: absolute;
        top: 50%;
        right: -2rem;
        transform: translateY(-50%);
      }

      &:hover {
        color: $color-secondary;
      }
    }

    // triangle animation
    &-checkbox:checked + &-label {
      color: $color-secondary;

      &::after {
        border-top: 0;
        border-bottom: 0.5rem solid currentColor;
      }
    }
  }

  // search bar

  &__search {
    flex: 0 0 22%;
    margin-left: 2rem;
  }
}

// STICKY NAV

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: grid;
  grid-template-columns:
    minmax(6rem, 1fr)
    minmax(min-content, 10rem)
    minmax(max-content, 75rem)
    minmax(min-content, 25rem)
    minmax(6rem, 1fr);
  grid-column-gap: 2rem;

  width: 100%;
  padding: 1rem 0;
  background-image: $gradient-primary;
  box-shadow: 0 4px 6px rgba($color-black, 0.3);

  @include respond(phone-small) {
    grid-template-columns:
      minmax(2rem, 1fr)
      minmax(min-content, 10rem)
      minmax(max-content, 75rem)
      minmax(min-content, 25rem)
      minmax(2rem, 1fr);
  }

  .nav {
    &__logo {
      grid-column: 2 / 3;
      margin-right: 0;
    }

    &__list {
      grid-column: 3 / 4;

      @include respond(big-desk) {
        grid-column: 1 / -1;

        width: 100vw;
        right: 0;
        border-radius: 0;
        background-image: $gradient-primary;
        color: $color-grey-light-1;
      }
    }

    &__item {
      @include respond(big-desk) {
        border-bottom: 1px solid rgba($color-grey-light-1, 0.1);
      }
    }

    &__link {
      padding: 2.3rem; // push bottom border to sticky nav bottom edge
    }

    &__search {
      grid-column: 4 / 5;
      margin-left: 0;
    }

    &__mobile-label {
      justify-self: end;
    }
  }
}
