.list {
  list-style: none;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba($color-black, 0.2);
  border-left: 4px solid $color-secondary;
  background-color: $color-grey-light-1;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 1.75rem;
      width: 1.75rem;
      line-height: 1;
      margin-right: 1rem;
      margin-top: -9px; // 5px (story__title mb) + 2px link border + 2px link padding
      background-color: currentColor;
      -webkit-mask-size: cover;
      mask-size: cover;
    }

    &--story::before {
      -webkit-mask-image: url(../img/icons/open-book.svg);
      mask-image: url(../img/icons/open-book.svg);
      align-self: flex-start;
      margin-top: 0.5rem;
    }

    &--youtube::before {
      -webkit-mask-image: url(../img/icons/youtube.svg);
      mask-image: url(../img/icons/youtube.svg);
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: capitalize;
      color: inherit;
      font-size: inherit;
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      transition: all 0.3s ease-out;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: $color-primary;
      border-bottom: 2px solid currentColor;
    }
  }
}
