*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
